* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 45px;
}

.header {
  position: relative;
}


.logo__wrapper {
  font-weight: 300;
  font-size: 32px;
  color: #007470;
  text-transform: uppercase;
}

.header__inner {
  justify-content: flex-start;
  padding: 45px;
}

.navigation {
  margin-left: 12%;
  font-weight: 300;
  font-size: 26px;
  color: #2c3834;
  text-transform: uppercase;
}

.menu__link {
  width: 100%;
  position: relative;
  padding: 10px;
}

.menu__item {
  position: relative;
  margin-left: 25px;
}

.menu__link::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 100%;
  left: 0%;
  height: 1px;
  transform: scale(0);
  background-color: #007470;
  transition: 0.3s linear;
}

.menu__link:hover::before {
  transform: scale(1);
}

.banner {
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  background-image: url("./images/wave.svg");
  background-position: top right;
  width: 100%;
  height: 110%;
  background-repeat: no-repeat;
  z-index: -1;
}

.banner__inner {
  padding-top: 0px;
  position: relative;
}

.banner__title {
  font-weight: 300;
  font-size: 90px;
  line-height: 119px;
  max-width: 500px;
  color: #007470;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  padding: 30px 50px;
  font-weight: 500;
  font-size: 35.2px;
  line-height: 41px;
  color: #007470;
  border: 2px solid #007470;
  border-radius: 60px;
  transition: 0.3s linear;
}

.button:hover,
.button:focus,
.button:active {
  transform: scale(1.05);
}

.social__link {
  display: inline-block;
  margin-right: 30px;
}

.footer {
  background-color: #039981;
  z-index: 3;
}

.address {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 35px;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.map-icon {
  width: 65px;
  position: relative;
}

.countries {
  margin-left: 30px;
}

.county {
  margin: 0px 12px;
}

.banner_img {
  width: 620px;
}

@media screen and (max-width: 1040px) {
  .logo__wrapper {
    font-size: 28px;
  }

  .banner__title {
    font-size: 80px;
    line-height: 100px;
  }

  .button {
    font-size: 30px;
  }

  .address {
    font-size: 20px;
  }

  .banner_img {
    width: 580px;
  }

}

@media screen and (max-width: 980px) {
  .footer {
    background-color: #049e83;
  }

  .countries {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .banner_img {
    width: 530px;
  }

  .banner__title {
    font-size: 70px;
    line-height: 80px;
  }

  .button {
    font-size: 25px;
  }
}

@media screen and (max-width:920px) {
  .bg::before {
    display: none;
  }

  .banner__inner {
    justify-content: center;
    flex-wrap: wrap;
  }

  .banner_img {
    margin-left: 50px;
  }

  .banner__info {
    text-align: center;
  }

  .button {
    margin: 0 auto;
  }

  .banner__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 651px) {
  .banner_img {
    width: 90%;
  }

  .banner__title {
    font-size: 60px;
    line-height: 70px;
  }

  .button {
    font-size: 22px;
  }

  .address{
    margin: 0 auto;
    justify-content: center;
    font-size: 18px;
    max-width: 450px;
  }
}

@media screen and (max-width: 510px){
  .address{
    align-items: center;
  }
  .countries{
      max-width: 300px;
      justify-content: center;
  }

  .button {
    display: inline-block;
    padding: 20px 60px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 430px){
  .banner__inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo__wrapper{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }

  .countries{
    margin-top: 20px;
    min-width: 300px;
  }

  .address{
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner_img {
    width: 100%;
    transform: translateX(-20px);
  }
}
